@import "@/styles/colors";

.container {
  padding-left: 4px;
  :global {
    .ant-form-item-label {
      text-align: start;
    }
    .ant-form-item label {
      color: $text-dark-30;
    }
    .contentHeader {
      display: flex;
      align-items: center;
      height: 49px;
      padding: 0 32px;
      border-bottom: 1px solid $text-dark-10;
    }
    .mainContent {
      padding: 20px 32px;
      background-color: #f0f0f0;
    }

    .selectButtonItem {
      width: 210px;
      height: 32px;
    }
    .inputNumber {
      width: 60px;
    }
    .datePicker {
      width: 130px;
    }
    .formBox {
      padding: 18px 25px;
      border: 1px solid #d9d9d9;
      background-color: white;
    }
    .formBoxItem {
      width: 45%;
      padding: 10px;
    }
    .issueDescription {
      height: 240px;
    }
    .addButton {
      width: 105px;
      height: 32px;
      font-weight: 700;
      background-color: #d04967;
      &:disabled {
        opacity: 0.5;
      }
    }
    .backButton {
      width: 105px;
      height: 32px;
      border: 1px solid $text-dark-10;
      background-color: #e5e5e5;
    }
  }
}

.selectOption {
  display: flex;
  align-items: center;
  height: 100%;
}

.statusCircle {
  width: 13px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.memberAvatarOption {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
