@import "@/styles/colors";

.root {
  :global {
    .ant-form-vertical .ant-form-item-label > label {
      color: $text-dark-20;
      font-weight: 700;
    }
  }
}

.textLogo {
  letter-spacing: 0.4px;
  opacity: 0.7;
}
