@import "@/styles/colors";

.header {
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 48px;
  padding: 8px 20px;
  background-color: #d04967;
}

.searchInput {
  width: 240px;
  border-radius: 20px;
  :global {
    .ant-input-prefix {
      margin-right: 10px;
      transform: scale(1.5);
    }
  }
}
.memberList {
  position: relative;
  top: 47px;
  .memberItem {
    height: 63px;
    padding: 10px 15px;
    border-top: 1px solid $text-dark-10;

    .avatar {
      width: 42px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      background-color: #e07b9a;
      color: white;
    }
  }
}
