$text-white: #fff;
$text-black: #111111;
$text-second: "#EEEEEE";
$text-logo: #26453e;
$text-pink: #ca2a4e;

$text-white-10: #f5e0e0;
$text-dark: #333333;
$text-dark-10: #a4a6b3;
$text-dark-20: #9fa2b4;
$text-dark-30: #777777;

$bg-primary: #f5f5f5;
$bg-primary-input: #fcfdfe;
$border-input: #d9d9d9;
$border-box: #c2c2c2;
$bg-dashboard: #2d2d2d;
$bg-dashboard-header: #1a1717;
$bg-header-from-sub-project: #f7ebef;
$bg-purple: #8a84f7;
$bg-cancel-button: #979797;

$status-color-1: #ed8077;
$status-color-2: #4488c5;
$status-color-3: #5eb5a6;
$status-color-4: #ea2c00;
$status-color-5: #a1af2f;
