@import "variables";
@import "colors";

.no-wrap {
  white-space: nowrap;
}

.page-sub-title {
  padding: 0 30px 30px;
}

.page-content {
  padding: 5px 10px 14px 30px;
}

// flex
.d-flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}
.flex-space-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-align-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-none {
  display: none;
}

// Fonts
$font-size-list: 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
  22, 23, 24, 26, 27, 32, 40;

@each $size in $font-size-list {
  .font-#{$size} {
    font-size: #{$size}px !important;
  }
}

// Text Aligns
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-end {
  text-align: end !important;
}

.text-left {
  text-align: left !important;
}

// Font weight
.font-weight-regular {
  font-weight: $font-weight-300 !important;
}

.font-weight-normal {
  font-weight: $font-weight-400 !important;
}

.font-weight-bold {
  font-weight: $font-weight-700 !important;
}

.font-weight-medium {
  font-weight: $font-weight-500 !important;
}

//Borders
.no-border {
  border: none !important;
}
.border-bottom-color {
  border-bottom: 1px solid #3fbbff;
}
.border-bottom-account-color {
  border-bottom: 1px solid #d9d9d9;
}
.border-gray-color {
  border: 1px solid #d9d9d9;
}

// Spaces
$spaces: (
  "0": $spacing-0,
  "1": $spacing-1,
  "2": $spacing-2,
  "3": $spacing-3,
  "4": $spacing-4,
  "5": $spacing-5,
  "6": $spacing-6,
  "7": $spacing-7,
  "8": $spacing-8,
  "9": $spacing-9,
  "10": $spacing-10,
  "auto": "auto",
);

$gap-list: 0, 4, 5, 6, 8, 10, 12, 14, 16, 18, 19, 20, 24, 32, 46;

@each $gap in $gap-list {
  .gap-#{$gap} {
    gap: #{$gap}px !important;
  }
}

// Opacities
$opacity-size-list: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90;

@each $size in $opacity-size-list {
  .opacity-#{$size} {
    opacity: calc($size / 100) !important;
  }
}

// line height
$line-height-list: 3, 13, 18, 20, 21, 22, 24, 32;
@each $height in $line-height-list {
  .line-height-#{$height} {
    line-height: #{$height}px !important;
  }
}

// Margins
@each $key, $value in $spaces {
  .m-#{$key} {
    margin: #{$value} !important;
  }

  .mt-#{$key} {
    margin-top: #{$value} !important;
  }

  .mr-#{$key} {
    margin-right: #{$value} !important;
  }

  .mb-#{$key} {
    margin-bottom: #{$value} !important;
  }

  .ml-#{$key} {
    margin-left: #{$value} !important;
  }

  .my-#{$key} {
    margin-top: #{$value} !important;
    margin-bottom: #{$value} !important;
  }

  .mx-#{$key} {
    margin-left: #{$value} !important;
    margin-right: #{$value} !important;
  }
}

// Paddings
@each $key, $value in $spaces {
  .p-#{$key} {
    padding: #{$value} !important;
  }

  .pt-#{$key} {
    padding-top: #{$value} !important;
  }

  .pr-#{$key} {
    padding-right: #{$value} !important;
  }

  .pb-#{$key} {
    padding-bottom: #{$value} !important;
  }

  .pl-#{$key} {
    padding-left: #{$value} !important;
  }

  .py-#{$key} {
    padding-top: #{$value} !important;
    padding-bottom: #{$value} !important;
  }

  .px-#{$key} {
    padding-left: #{$value} !important;
    padding-right: #{$value} !important;
  }
}

/* Colors */
$colors: (
  "white": $text-white,
  "black": black,
  "logo": $text-logo,
  "dashboard-header": $bg-dashboard-header,
  "dark": $text-dark,
  "dark-10": $text-dark-10,
  "dark-20": $text-dark-20,
  "primary": $bg-primary,
  "second": $text-second,
  "primary-input": $bg-primary-input,
);

// Text colors
@each $key, $value in $colors {
  .text-#{$key} {
    color: #{$value} !important;
  }
}

// Bg colors
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: #{$value} !important;
  }
}

// Cursor
.cursor-pointer {
  cursor: pointer !important;
}

/* Positions */
$positions: "static", "relative", "absolute", "fixed", "sticky";

@each $position in $positions {
  .position-#{$position} {
    position: #{to-lower-case(#{$position})} !important;
  }
}

// text-decoration
.text-underline {
  text-decoration: underline !important;
}

//width
.width-fit-content {
  width: fit-content !important;
}

.full-width {
  width: 100% !important;
}

// float
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.box-shadow-btn {
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24) !important;
}
.overflow-scroll {
  overflow-y: auto;
}

// opacity
.hoverOpacity {
  &:hover {
    opacity: 1.1;
  }
}
