@import "@/styles/colors";

.container {
  height: 100vh;
  background-color: $bg-dashboard;
  :global {
    .mainContent {
      height: calc(100% - 108px);
      margin: 16px;
      background-color: #3b3535;
      box-shadow: 0 0 3px 0 rgba(0 0 0 / 0.5);

      .form {
        position: relative;
        max-width: fit-content;
        margin: 0 auto;
      }
      .ant-upload-select,
      .ant-upload-list-item,
      .ant-upload-wrapper {
        position: relative;
        margin: 0 !important;
        width: 128px !important;
        height: 128px !important;
      }
      .ant-upload-select {
        border: 1px solid !important;
      }
      .uploadButton {
        position: absolute;
        left: 150px;
        background-color: transparent;
        color: #1da1f2 !important;
      }
      .inputItem {
        width: 380px;
        .ant-input {
          color: $text-white;
          background: #2d2828;
        }
        .ant-input-disabled {
          background-color: rgba(210, 210, 210, 0.25);
          color: #d9d9d9;
        }
        label {
          color: white;
        }
      }
      .submitButton {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        background-color: $bg-purple;

        &:disabled {
          opacity: 0.6;
        }
      }
    }
  }
}
