@import "@/styles/colors";

.container {
  padding-bottom: 80px;
  :global {
    .issueType {
      width: fit-content;
      height: 20px;
      padding: 1px 8px;
      border-radius: 20px;
      background-color: #f42858;
      color: white;
    }
    .status {
      width: 95px;
      padding: 2px 8px;
      color: white;
      text-align: center;
      border-radius: 20px;
    }
    .editButton {
      width: 70px;
      background-color: white;
      border: 1px solid $text-dark-10;
      border-radius: 20px;
    }
    .creatorAvatar {
      width: 42px;
      height: 42px;
      object-fit: cover;
      border-radius: 50%;
      background-color: #e07b9a;
      color: white;
      font-size: 18px;
    }
    .icon {
      width: 14px;
    }
    .issueDetailBox {
      padding: 15px 25px;
      background-color: white;
      border: 1px solid $border-box;
      .issueDetailField {
        width: 30%;
      }
      .priorityIcon {
        width: 18px;
      }
      .priorityText {
        margin-left: 8px;
        color: $text-pink;
        background-color: #d049670d;
      }
      .assigneeAvatar {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #e07b9a;
        color: white;
      }
    }
    .historyBox {
      background-color: white;
      border: 1px solid $border-box;
      .issueHistoryItem {
        padding: 16px 25px;
        &:not(:last-child) {
          border-bottom: 1px solid $text-dark-10;
        }
      }
      .historyContent {
        padding-left: 50px;
      }
      .itemContent {
        &::before {
          content: "";
          display: inline-block;
          margin-right: 6px;
          height: 8px;
          width: 8px;
          border: 2px solid $text-dark-10;
          background-color: white;
          border-radius: 50%;
        }
      }
    }
    .updateIssueFooter {
      position: fixed;
      right: 15px;
      bottom: 0;
      width: calc(100% - 200px);
      padding: 0px 32px;
      border-top: 1px solid $text-dark-10;
      background-color: white;

      .ant-form-item-label {
        padding-bottom: 4px !important;
      }
      .changeStatusButton {
        background: none;
        &:hover {
          background-color: #f7e4eb;
        }
      }
      .initialCommentItem {
        width: 86%;
      }
      .commentItem {
        width: 62%;
        padding: 28px 0 0;
        .ant-row,
        .ant-form-item-control-input,
        .ant-form-item-control-input-content {
          height: 100%;
        }
      }
      .initialCommentInput {
        width: 100%;
        height: 36px;
      }
      .commentInput {
        width: 100%;
        height: 100%;
        &:focus {
          border: 1px solid $text-pink;
          border-radius: 4px;
          background-color: #fcfade;
          box-shadow: 0 0 3px $text-pink;
        }
      }
      .selectRightBox {
        width: 37%;
        margin-top: 2px;
      }
      .datePickerItem {
        width: 48%;
        .datePicker {
          width: 100%;
        }
      }
      .uploadFile {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: center;
          padding: 6px;
          border: 4px dotted $text-dark-10;
          .ant-upload-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .uploadButton {
            color: $text-pink;
            border: 1px solid $text-dark-10;
            background-color: white;
            &:hover {
              border-color: $text-pink;
              background-color: #f7ebef;
            }
            span {
              font-weight: 600;
            }
          }
        }
      }
      .buttonContainer {
        .ant-btn {
          width: 100px;
          height: 32px;
        }
        .closeButton {
          border: 1px solid $text-dark-10;
          background-color: #e5e5e5;
        }
        .submitButton {
          background-color: #d04967;
          &:disabled {
            opacity: 0.7;
          }
        }
      }
    }
    .attachedImageBox {
      flex-wrap: wrap;
      gap: 12px;
    }
    .attachedImage {
      width: 300px;
      height: 200px;
      object-fit: contain;
      border: 1px solid $text-dark-10;
    }
    .attachedFile {
      &::before {
        content: "";
        display: inline-block;
        margin-right: 6px;
        height: 8px;
        width: 8px;
        border: 2px solid $text-dark-10;
        background-color: white;
        border-radius: 50%;
      }
    }
  }
}

.selectOption {
  display: flex;
  align-items: center;
  height: 100%;
}

.memberAvatarOption {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
