@import "@/styles/colors";

.selectOption {
  display: flex;
  align-items: center;
  height: 100%;
}

.memberAvatarOption {
  width: 24px !important;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #e07b9a;
  color: white;
  border: 1px solid $text-dark-30;
}
.sendButton {
  &:disabled {
    opacity: 0.3;
  }
}
