@import "@/styles/colors";

.container {
  :global {
    .auth-content {
      color: $text-dark-20;
      text-align: center;
    }
    .ant-card {
      width: 380px;
      min-height: 550px;
      margin: 0 auto;
      padding: 50px 22px 0px !important;
      border: 1px #d5d6dc solid;
    }
    .ant-btn {
      font-weight: 500;
    }
  }
}
