@import "@/styles/colors";

.container {
  position: relative;
  top: 50px;
  height: 100vh;
  overflow: auto;
  background-color: #f0f0f0;

  :global {
    .mainContent {
      display: flex;
      padding: 0 32px;
    }
    .leftContent {
      width: 48%;
    }
    .subProjects {
      z-index: 10;
    }
    .subProjectsContentTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      margin-bottom: 8px;
    }
    .searchInput {
      min-width: 240px;
      height: 32px;
      background-color: #fcfade;
      border: 1px solid #00836b;
      border-radius: 20px;
      box-shadow: 0 0 3px #00836b;
      .ant-input {
        background-color: #fcfade;
        &::placeholder {
          color: $text-dark-30;
        }
      }
    }

    .searchIcon {
      transform: scale(1.5) !important;
    }

    .recentUpdates {
    }
  }
}
