@import "@/styles/common.module.scss";
@import "@/styles/icons.module.scss";

html {
  box-sizing: border-box;
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $text-black;
  letter-spacing: 0.3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

//Button
.ant-btn {
  box-shadow: none;
}
.ant-btn-dangerous:disabled {
  background-color: rgba(97, 0, 255, 0.5) !important;
}

//Input
.ant-input {
  line-height: normal;
}

//Radio
.ant-radio-checked .ant-radio-inner {
  background-color: #fff !important;
  border-color: #1890ff !important;
  &::after {
    background-color: #1890ff !important;
    transform: scale(0.5) !important;
  }
}

//Select, Multiple select
.ant-select .ant-select-selection {
  &-item,
  &-placeholder {
    align-items: center;
    line-height: initial;
    font-size: 12px;
  }
}

.ant-space-item .ant-select-selection-item {
  max-height: 16px !important;
  line-height: 14px !important;
  font-size: 12px;
}
.ant-select-selector {
  padding-left: 7px;
  min-height: 25px;
}
span.ant-select-arrow {
  // right: 0 !important;
}
.ant-select .ant-select-clear {
  inset-inline-end: 22px !important;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.ant-select-selection-search {
  margin-inline-start: 4px !important;
}
.ant-select-selection-overflow {
  display: block !important;
}
.ant-select-multiple {
  .ant-select-selection-item {
    height: 18px;
    line-height: 18px;
    margin-top: 0;
  }
  .ant-select-selector:after {
    margin: 0 !important;
  }
}

//Pagination
.ant-pagination-options {
  .ant-select-selector {
    height: 32px !important;
    padding: 5px 12px !important;
  }
  .ant-select-arrow {
    margin-right: 12px;
    font-size: 10.5px;
  }
}

.ant-pagination {
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  &-total-text {
    position: absolute;
    left: 16px;
  }
  &-options-size-changer {
    position: absolute;
    right: 16px;
  }
}

//Divider
.ant-divider-vertical {
  height: 32px;
}
// required

.ant-form-item-required::before {
  color: black !important;
  font-weight: 700;
  position: absolute;
  top: 2px;
}

//Table
.ant-table-content .ant-table-cell {
  max-height: 58px !important;
  padding: 17px 16px 20px !important;
  &::before {
    display: none;
  }
}

.ant-table-selection .ant-checkbox-inner {
  border: 1.75px solid #000000 !important;
  border-radius: 1px;
}
.ant-checkbox-wrapper-checked {
  .ant-checkbox-inner {
    border: 1px solid transparent !important;
  }
}
th.ant-table-cell {
  font-size: 14px !important;
}

//Card
.ant-card {
  padding: 5px 16px 5px 20px !important;
  margin-bottom: 10px;
}

.ant-card-head-wrapper {
  margin-bottom: 8px;
}

//
.ant-breadcrumb {
  color: #000000 !important;
  font-weight: 700;
  &-separator {
    color: #000000 !important;
    margin-inline: 16px !important;
  }
}

// notification
.ant-notification
  .ant-notification-notice
  .ant-notification-notice-with-icon
  .ant-notification-notice-message {
  margin-bottom: 0;
}

//Modal
.ant-modal {
  top: 0 !important;
}
.ant-modal-wrap {
  display: flex;
  align-items: center !important;
}

.pre-wrap {
  white-space: pre-wrap;
}

//Dropdown
.ant-dropdown-menu {
  background-color: #333333 !important;
}

// Profile dropdown
.profile-dropdown-container {
  position: relative;
  top: 2px;
  z-index: 999;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #333333;
  border-radius: 5px;
}

.profile-dropdown-item {
  padding: 8px;
  &:hover {
    cursor: pointer;
    background-color: #47443f;
  }
}

.header-dropdown-container {
  z-index: 999;
  min-width: 300px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  background-color: white;
  border-radius: 5px;
}

.header-dropdown-item {
  padding: 8px 15px;
  &:hover {
    cursor: pointer;
    background-color: #ddefe5;
  }
}

// Sub-project dropdown
.ant-dropdown {
  z-index: 10;
}
.subProjectItem {
  display: flex;
  align-items: center;
  height: 58px;
  padding: 0 20px;
  margin: 4px 0;
  background-color: white;
  border: 1px solid $text-dark-10;
  &:hover {
    cursor: pointer;
    background-color: #e07b9a;
    .ant-typography {
      color: $text-white;
    }
    .subProjectButtonContainer {
      display: block;
    }
    .subTitle {
      display: none;
    }
    .subProjectIcon,
    .createSubProjectIcon {
      color: $text-white;
    }
  }

  .subProjectName,
  .createSubProjectButton {
    color: $text-black;
  }

  .subProjectButtonContainer {
    display: none;
    .ant-typography {
      font-size: 13px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .subTitle {
    color: #000000;
  }
  .subProjectIcon,
  .createSubProjectIcon {
    color: $text-black;
    transform: scale(1.5) !important;
  }
}
// Form
.ant-form-item-required::before {
  content: "" !important;
}
// Select-dropdown
.ant-select-dropdown {
  .ant-select-item-option-content {
    color: black;
  }
}

// Create issue modal
.createIssueModal {
  .ant-modal-content {
    padding: 0px 0;
  }
}
