.root {
  display: flex;
  height: 100vh;
  min-width: 1280px;
  :global {
    .side-bar {
      min-width: 260px;
      background-color: #474747;
      .ant-menu-item {
        margin-bottom: 35px;
      }
      .ant-menu-item-only-child {
        padding-left: 75px !important;
      }
    }
    .container {
      width: 100%;
      min-width: 900px;
      background-color: #f7f8fc;
      display: flex;
      flex-direction: column;
      .pageContent {
        padding: 5px 10px 0 30px;
        flex-grow: 1;
        height: 100%;
      }
    }
    .header {
      padding: 29px 30px;
    }
  }
}

:global {
  .menu-profile {
    width: 160px;
    font-weight: 600;
  }
  .menu-notify {
    width: 188px;
  }
  .ant-dropdown-menu-item.change-password {
    margin: 14px 0 !important;
  }
}
